<div class="main-content">
<!--Servicios Destacados--> 

    <!-- Three columns of text below the carousel -->
   

<p class="title-categ display-6 py-3 mt-5">Servicios Destacados</p>

    <div class="categorias d-flex position-relative w-100">
    
    
    <div class="card mb-3" style="max-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.paginasamarillas.com.pe/imagenes/pe/images/ad_id_5990/image_id_17903.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card mb-3" style="max-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.paginasamarillas.com.pe/imagenes/pe/images/ad_id_5990/image_id_17903.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.paginasamarillas.com.pe/imagenes/pe/images/ad_id_5990/image_id_17903.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.paginasamarillas.com.pe/imagenes/pe/images/ad_id_5990/image_id_17903.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.paginasamarillas.com.pe/imagenes/pe/images/ad_id_5990/image_id_17903.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 440px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.paginasamarillas.com.pe/imagenes/pe/images/ad_id_5990/image_id_17903.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      
    

      </div>


  


<section>
  <div class="container marketing mt-5">



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider m-5">

    <div class="row featurette">
      <div class="col-md-7 p-5">
        <h2 class="featurette-heading fw-normal lh-1">¿Buscas un servicio rápido, confiable y de calidad? <span class="text-muted"></span></h2><br><br>
        <p class="lead" style="line-height: 2.5rem;">En "nom_pag" encontrarás miles de personas que ofrecen servicios al mejor precio
          Dile adiós a los servicios caros, puedes comparar precios y escoger lo que mejor se ajuste a tus necesidades
          Registrate y navega entre la variedad de servicios disponibles</p><br>
          <a href="#" class="btn btn-lg btn-outline-dark mx-1 ">Buscar más servicios</a>
      </div>
      <div class="col-md-5">
       <img class="rounded mx-auto d-block img-fluid" src="http://sperant.000webhostapp.com/img_main.jpg" alt="" >

      </div>
    </div>

    <hr class="featurette-divider  m-5">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 p-5">
        <h2 class="featurette-heading fw-normal lh-1">¡Muestra tu talento y ofrece tu servicio! <span class="text-muted"></span></h2><br><br>
        <p class="lead"  style="line-height: 2.5rem;" >Hay miles de personas buscando diferentes servicios para su hogar y/o trabajo.
          Ahora con "nom_pag" estarás a unos click de poder generar ingresos adicionales
          Registrate y ofrece tus servicios de manera rápida y sencilla</p><br>
          <a href="#" class="btn btn-lg btn-outline-dark mx-1 ">Quiero ofrecer un servicio</a>
      </div>

      <div class="col-md-5">
        <img class="rounded mx-auto d-block img-fluid" src="http://sperant.000webhostapp.com/servicios.jpg" alt="" >
 
       </div>
    </div>

    <hr class="featurette-divider  m-5">



    <!-- /END THE FEATURETTES -->

  </div>

</section>







</div>