<div class="main-content p-5">
    <!--Servicios Destacados--> 
    


<div class="row text-center">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2 class="fw-normal">Garantía</h2>
      <p class="" >Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
      <p><a href="#" class="btn btn-lg btn-outline-dark mx-1 ">Ver detalles</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle  mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2 class="fw-normal">Calidad</h2>
      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
      <p><a href="#" class="btn btn-lg btn-outline-dark mx-1 ">Ver detalles</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle  mb-4" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2 class="fw-normal">Confianza</h2>
      <p>And lastly this, the third column of representative placeholder content.</p>
      <p><a href="#" class="btn btn-lg btn-outline-dark mx-1 ">Ver detalles</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>